<h1><%= @post.title %></h1>
<h4>by <%= @post.user.username %></h4>
<p><%= @post.content %></p>


<% if @current_user_id == @post.user.id %>
  <%= link_to "Edit Post", edit_post_path %>
  •••
  <%= link_to "Delete Post", post_path(@post), data: {:confirm => "Are you sure you want to delete this post? \nThis cannot be undone."}, method: :delete %>
<% end %>

<h3>Comments</h3>
<ul>
<% @comments.each do |comment| %>
  <li><%= comment.user.username %> says "<%= comment.content %>"</li>
<% end %>
</ul>

<% if @logged_in %>
  <%= (render "comment_form") %>
<% else %>
  <div>You must <%= link_to "login", new_login_path %> to leave comments.</div>
<% end %>
