<!DOCTYPE html>
<html>
  <head>
    <title>WespeakApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @logged_in %>
    <%= link_to "All Posts", posts_path %>
    <%= link_to "All Users", users_path %>
      <br>Hello, <%= @current_user.username %>.
      <%= button_to "Logout", log_out_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_login_path %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>

    <hr>
    <%= yield %>
  </body>
</html>
